.topArea{
  background-image: url("./img/rsz_6094.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 150px;
  height: auto;
  padding-bottom: 150px;
}

.jumbotron1{
  background: midnightblue;
  align-content: center;
  margin: 50px;
}

.bookingHeader{
  color: white;
  padding-bottom: 5px;
}

.footer{
  background: black;
  color: white;
  padding: 10px;
  font-max-size: 10pt;
  font-min-size: 10pt;
  font-size: 10pt;
  height: 190px;
}

.useful{
  padding: 10px;
}

.servicesIcons{
  width: 50%;
  height: 100px;
  padding: 20px;
}

.footerCopyright{
  text-align: center;
}

/*White lines separating the booking background and the Services information*/
.line1 {
  /*width: 120%;*/
  /*height: auto;*/
  /*border-bottom: 60px solid white;*/
  /*-webkit-transform:*/
  /*        translateY(560px)*/
  /*        translateX(-3px)*/
  /*        rotate(2deg);*/
  /* top: -20px; */
}


.grad{
  background-image: linear-gradient(to right, orange, midnightblue);
}

.contact{
  margin-top: 30px;
  padding: 4%;
  height: auto;
}
.col-md-3{
  background: grey;
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.contact-info{
  margin-top:10%;
}
.contact-info img{
  margin-bottom: 15%;
}
.contact-info h2{
  margin-bottom: 10%;
}
.col-md-9{
  background: #fff;
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.contact-form label{
  font-weight:600;
}
.contact-form button{
  background: #25274d;
  color: #fff;
  font-weight: 600;
  width: 25%;
}
.contact-form button:focus{
  box-shadow:none;
}

.locations {
  width: 15rem;
  background: midnightblue;
  color: white;
}

.trav{
  min-width: 200px;
}

.contentArea{
  min-height: 100vh;
}

.routeBg{
  background-image: linear-gradient(to bottom, #000c4b, #000e53, #000f5a, #001162, #00126a, #121d76, #1f2783, #2a328f, #4048a3, #555fb7, #6977cb, #7f8fdf);
}

.item:focus ~ .item,
.item:hover ~ .item {
  transform: translateX(25%);
}

.item {
  position: relative;
  display: block;
  flex: 1 1 0px;
  transition: transform 500ms;
}

.container .item:focus,
.container .item:hover {
  transform: scale(1.1);
  z-index: 1;
}